body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 10pt;
	background:#FFFFFF;
	margin: 0;
	color:#474747;
}

.modal-window {
	height:200px;
	width:400px;
	background:#EDEDED;
	position:relative;
	font-size:10pt;
}

/*Кнопки навигации*/

.navi {
	height:65px;
	width:20px;
}

.naviico {
	height:20px;
	width:20px;
	margin-top:22px;
	margin-left:8px;
	cursor:pointer;
}

.current {
	border-left:2px solid #99146F;
}

/*Cтраница логина: поля ввода*/

.textarea {
	position:absolute;
	width:300px;
	height:30px;
	background: white;
	border: 1px solid #DBDBDB;
	left:70px;
	top:25px;
}

input[type="email"], [type="password"] {
	border:none;
	outline:none;
	-webkit-appearance:none;
	height:28px;
	width:290px;
	font-size:10pt;
	margin-left:5px;
}

#loginpass {
	width:260px;
}

#restorepass {
	height:15px;
	width:15px;
	margin:8px;
	cursor:pointer;
	float:right;
	background:url(../images/question.svg);
	background-size:contain;
}

/*Cтраница логина: кнопки входа*/

.loginbutt {
	width:100px;
	height:30px;
	position:absolute;
	font-size:12pt;
	color:white;
	top:140px;
	left:70px;
	cursor:pointer;
	text-align:center;
	background:#393;
}

.loginbutt a {
	display:block;
	margin-top:4px;
}

.oreuse {
	width:100px;
	height:30px;
	position:absolute;
	top:146px;
	left:180px;
}

.goobook {
	width:40px;
	height:40px;
	position:absolute;
	top:135px;
	left:290px;
	cursor:pointer;
}

#fbooklogin {
	background:url(../images/fbook.svg);
	background-size:contain;
	left:335px;
}

#gpluslogin {
	background:url(../images/gplus.svg);
	background-size:contain;
}

/*Правый блок: страница регистрации*/

.textarea2 {
	width:270px;
	height:28px;
	background: white;
	margin-left: 5px;	
}

/*Правый блок: страница восставновления пароля*/