body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 11pt;
	background-color: #FFFFFF;
	margin: 0;
	color: #99146F;
}

.login-window {
	height:250px;
	width:450px;
	background:#EDEDED;
	position:relative;
	font-size:10pt;
}

/*Правый блок*/

.login-body {
	height:150px;
	width:300px;
	position:absolute;
	left:75px;
	top:40px;
	font-size:10pt;
}

/*Кнопки навигации слева*/

.switch {
	width:20px;
	height:20px;
	background: radial-gradient(circle, #A5A5A5 4px, #EDEDED 5px);
	position:absolute;
	cursor:pointer;
}

.switch:hover {
	background: radial-gradient(circle, #99146F 4px, #EDEDED 5px);
}

/*Правый блок: страница логина*/

.textarea {
	width:inherit;
	height:30px;
	background: white;
	border: 1px solid #DBDBDB;
}

input[type="email"], [type="password"] {
	border:none;
	outline:none;
	-webkit-appearance:none;
	height:28px;
	width:290px;
	font-size:10pt;
	margin-left:5px;
}

.reference {
	position: absolute;
	cursor:pointer;
	color: #99146F;
}

.goobook {
	width:140px;
	height:30px;
	position:absolute;
	font-size:12pt;
	margin-top:50px;
	cursor:pointer;
	text-align:center;
}

.goobook a {
	display:block;
	color:white;
	margin-top:6px;
}

/*Правый блок: страница регистрации*/

.textarea2 {
	width:270px;
	height:28px;
	background: white;
	margin-left: 5px;	
}

.submit {
	width:50px;
	height:inherit;
	position:absolute;
	right:0px;
	cursor:pointer;
}

.submit:hover {
	background:#DBDBDB;
}

/*Правый блок: страница восставновления пароля*/