#editor-page {
	position: relative;
	padding-top: 50px;
	font-size: 1em;
	width: 50%;
	left: 25%;
}

/*Сам редактор*/

#editor {
	width: 100%;
	padding: 20px;
	font-family: Arial;
	font-size: 1.1em;
	border: 1px solid #DEDEDE;
	resize: none;
}

textarea#editor:focus {
	outline: none;
	}
	
/*Инфо-блоки справа*/
	
.editor-info {
	position: absolute;
	left: -80px;
	top: 70px;
}

.editor-info.text {
	left: -130px;
}

.editor-info.message {
	text-align: right;
	left: -250px;
	top: 200px;
	width: 200px;
	height: 100px;
	}
	
.editor-info.message p{
	font-size: 0.9em;
	}

.editor-info.message span {
	margin-left: 5px;
	padding: 0px 5px;
	color: white;
	white-space:nowrap;
	}
	
p#save-message span {
	background: #A6F16C;
}

p#rev-message span {
	background: #FFAD40;
}

/*Инфо-блоки справа: инфо-кнопки*/

.info-but {
	margin: 15px;
	height: 25px;
	}
	
.text .info-but {
	font-size: 0.8em;
	line-height: 25px;
	}
	
.info-but svg{
	width: 15px;
	height: 15px;
	padding: 5px;
	fill: #535353;
	border-radius: 50%;
	}

.info-but svg.on {
	background: #535353;
	fill: white;
	outline: none;
}

/*Список ревизий*/

#editor-revisions {
	list-style: none;
}

@-moz-document url-prefix() {
	#editor-revisions {
		margin-top: 5px;
	}
}

/*Список ревизий: сами ревизии*/	

#editor-revisions > div {
	height: 26px;
	min-width: 40px;
	line-height: 26px;
	display: inline-block;
	font-size: 0.75em;
	border: 1px solid #DEDEDE;
	cursor: pointer;
	margin-right: 5px;
}

#editor-revisions > div.current {
	background: #FFAD40;
	border-color: #FFAD40;
}

#editor-revisions > div input {
	display: none;
	border: none;
	width: 90px;
	margin: 4px;
	font-size: 1.1em;
	}

#editor-revisions > div.current input:focus {
	outline: none;
	}
	
#editor-revisions > div.current.edited input {
	display: inline-block;
}

#editor-revisions .rev-name {
	min-width: 20px;
	display: inline-block;
	margin: 0px 10px;
	text-align: center;
}

#editor-revisions > div.current.edited .rev-name {
	display: none;
}

#editor-revisions svg {
	display: none;
	position: relative;
	top: 3px;
	margin-right: 5px;
	width: 15px;
	fill: #BC7B26;
	cursor: pointer;
	transition: 0.1s;
}

#editor-revisions .current svg {
	display: inline;
	}

#editor-revisions svg:hover {
	fill: #6D4003;
	}

#editor-revisions .pointer {
	display: none;
	position: absolute;
	margin-top: -8px;
	margin-left: 10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 11px solid #C9C9C9; 
	}

#editor-revisions .current .pointer {
	display: block;
	}
	
#editor-revisions .pointer div {
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 10px solid white; 
	margin: -11px 0px 0px -9px;
	}
	
	
/*Панель ревизий: список ревизий: инфа по ревизии*/

.rev-info {
	position: absolute; 
	margin-top: 10px;
	padding: 10px;
	background: #535353;
	display: none;
	opacity: 0;
	transition: 0.2s;
	color: white;
	}
	
#editor-revisions > div:hover .rev-info {
	display: block;
	opacity: 0.7;
	}

#publish {
	position: absolute;
	width: 120px;
	height: 30px;
	line-height:  30px;
	border: 1px solid #F1F1F1;
	color: #535353;
	bottom: 35px;
	left: -170px;
	text-align: center;
	cursor: pointer;
	}

.data-lenght.unsaved {
	display: none;
	}
	
.unsaved .data-lenght.unsaved {
	display: block;
	}	

.unsaved {
	color: #A6F16C;
	}