#editor-space{
}

#editor-page {
	padding-top: 40px;
	width: 100%;
}

#editor {
	position:absolute;
	width: 60%;
	margin: 0px auto 0px auto;
	z-index: -10;
}

#projectlist {
	position: absolute;
	width: 300px;
	height: 100%;
	background:#EDEDED;
}


#editor-revisions
{
	list-style: none;
	padding: 10px;
	position: absolute;
	margin-top: 200px;
}

#editor-revisions li
{

}

#editor-revisions li.release
{
	background-color: purple;
}

#editor-revisions li.regular
{
	background-color: green;
}

#editor-revisions li.current
{
	background-color: yellow;
}

#editor-revisions li div
{

}
