body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 11pt;
	background:#FFFFFF;
	color:#474747;
	margin: 0;
}

.modal-window {
	height:260px;
	width:420px;
	background:#EDEDED;
	position:fixed;
	font-size:10pt;
	margin: -130px 0 0 -210px;
	top: 50%;
	left: 50%;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#modal-sett {
	height:760px;
	width:520px;
	margin: -380px 0 0 -260px;
}


/*Кнопки навигации*/

.navi {
	height:40px;
	width:50%;
	float:left;
	color:#A7A7A7;
}

.naviico {
	height:25px;
	margin-left:50px;
	margin-top:12px;
	background:url(../images/modal-login/login.svg) no-repeat;
	background-size:contain;
	float:left;
	cursor:pointer;
}

.naviico a {
	margin-top:5px;
	margin-left:30px;
	display:block;
}

#newacc {
	background:url(../images/modal-login/regi.svg) no-repeat;
	background-size:contain;
}

.current {
	color:#99146F;
	border-top: 2px solid #99146F;
}

.current #myacc {
	background:url(../images/modal-login/logincurr.svg) no-repeat;
	background-size:contain;
}

.current #newacc {
	background:url(../images/modal-login/regicurr.svg) no-repeat;
	background-size:contain;
}

/*Страница логина и регистрации*/

.modal-body {
	height:220px;
	width:300px;
	left:58px;
	position:absolute;
	top:40px;
}

/*Cтраница логина: поля ввода, ссылка на восстановление пароля*/

.textarea {
	position:absolute;
	width:300px;
	height:30px;
	background: white;
	border: 1px solid #DBDBDB;
}

input[type="email"], [type="password"], [type="text"] {
	border:none;
	outline:none;
	-webkit-appearance:none;
	height:28px;
	width:290px;
	font-size:10pt;
	margin-left:5px;
}

#loginpass {
	width:264px;
}

#restorepass {
	height:15px;
	width:15px;
	margin:8px;
	cursor:pointer;
	float:right;
	background:url(../images/question.svg);
	background-size:contain;
}

/*Cтраница логина: кнопки*/

.buttonblock {
	position:absolute;
	left:2px;
	top:135px;
}

.buttonblock span {
	width:110px;
	height:30px;
	float:left;
	text-align:center;
	margin-top:7px;
	color:#474747;
}

/*Cтраница логина: кнопка входа*/

#loginbutt {
	width:100px;
	height:30px;
	font-size:12pt;
	color:white;
	cursor:pointer;
	text-align:center;
	background:#99146F;
	float:left;
}

#loginbutt a {
	display:block;
	margin-top:7px;
}

/*Cтраница логина: вход через g+ и facebook*/

.goobook {
	width:40px;
	height:40px;
	float:left;
	cursor:pointer;
	margin-top:-5px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}

#fbooklogin {
	background:url(../images/fbook.svg);
	background-size:contain;
	margin-left:8px;
}

#gpluslogin {
	background:url(../images/gplus.svg);
	background-size:contain;
}

/*Cтраница регистрации: галочка, текст соглашения, кнопка перехода к капче*/

input[type="checkbox"] {
	float:left;
}

.iagree {
	position:absolute;
	width:295px;
	top:160px;
	color:#474747;
}

.iagree span {
	float:left;
	margin-top:2px;
	margin-left:4px;
}

#tocapcha {
	height:23px;
	width:23px;
	cursor:pointer;
	float:right;
}

#tocapcha.enabled #forward {
	fill:#99146F;
}

/*Страница восставновления пароля: кнопка возврата на страницу логина*/

#backtologin {
	width:30px;
	height:30px;
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	position:absolute;
	top:10px;
	left:195px;
	cursor:pointer;
}

#forward {
	fill:#A7A7A7;
	-moz-transition:all 0.2s;
	-o-transition:all 0.2s;
	-webkit-transition:all 0.2s;
	transition:all 0.2s;
}

#backtologin:hover #forward {
	fill:#99146F;
}

/*Страница восставновления пароля: форма ввода пароля, кнопка поддтверждения и текст*/

#restoremail {
	width:215px;
}

.sendpass {
	width:70px;
	height:30px;
	background:#99146F;
	cursor:pointer;
	float:right;
	color:white;
	text-align:center;
	font-size:11pt;
}

.sendpass a {
	display:block;
	margin-top:6px;
}

.instruct {
	position:absolute;
	width:300px;
	left:5px;
	top:70px;
	color:#99146F;
}

/*Страница настройки профиля*/

#greeting {
	width:490px;
	height:60px;
	background: #FFA13D;
	font-size:22pt;
	padding-left:30px;
	line-height:60px;
	color: #FFFFFF;
}

/*Страница настройки профиля: кнопка сохранения*/

.buttonblock.sett {
	position:absolute;
	left:30px;
	top:370px;
}

#savesett {
	width:100px;
	height:30px;
	font-size:12pt;
	color:white;
	cursor:pointer;
	text-align:center;
	background:#99146F;
}

#savesett a {
	display:block;
	margin-top:7px;
}

/*Страница настройки профиля: поля ввода*/

.textarea.modsett {
	margin-top:20px;
	margin-left:30px;
	position:relative;
}

input[type="text"], [type="password"] {
	border:none;
	outline:none;
	-webkit-appearance:none;
	height:28px;
	width:290px;
	font-size:10pt;
	margin-left:5px;
}

/*Страница настройки профиля: поле загрузки аватара*/

#avaloader {
	position:absolute;
	width:105px;
	height:105px;
	border: 4px dashed #A7A7A7;
	background:url(../images/modal-settings/ava.svg) center center no-repeat;
	background-size:70px 70px;
	left:370px;
	margin-top:20px;
	-moz-transition:all 0.2s;
	-o-transition:all 0.2s;
	-webkit-transition:all 0.2s;
	transition:all 0.2s;
	cursor:pointer;
}

#avaloader  #avapreview
{
	width:105px;
	height:105px;
	border: 0px;
}

#avaloader #avatardialog
{

}

#avaloader:hover {
	background-size:76px 76px;
}

#editoron {
	position:relative;
	margin-top:30px;
	left:30px;
}