body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	background: #FFF;
	color:#474747;
	margin:0;
	min-height: 100%;
}

/*Верхняя панель*/

.page-header {
	background:#EDEDED;
	position:fixed;
	height:40px;
	width:100%;
	min-width:1000px;
	z-index: 10;
}

/*нижняя панель*/

footer {
	position: fixed;
	bottom: 0px;
	background:#FFFFFF;
	height:25px;
	width:100%;
	min-width:1000px;
	line-height:20px;
	z-index: 10;
}

/* нижнюю панель смещаем вниз и делаем отступы по бокам */

#page-content {
	position:absolute;
	width: 900px;
	padding-top: 45px;
	z-index: 0;
	left: 50%;
	margin: 0 0 0 -450px;
}

/*Верхняя панель: кнопки навигации*/

.left-button {
	width:160px;
	display:inline-block;
	text-align:center;
	line-height: 40px;
}

.left-button a
{
	text-decoration:none;
	cursor:pointer;
}

.left-button a:hover {
	color: #787878;
}

/*Верхняя панель: графа поиска*/

.searchout {
	position: absolute;
	background:#FFFFFF;
	padding: 3px 5px;
	left:400px;
	top: 6px;
}

input[type="search"] {
	border:none;
	outline:none;
	-webkit-appearance:none;
	width:220px;
}

/*Верхняя панель: кнопка логина*/

.logblock {
	background: #99146F;
	position:absolute;
	color: #FFFFFF;
	height: 40px;
	top: 0px;
}

.logblock a {
	line-height: 40px;
}

#login {
	width: 140px;
	text-align: center;
	right:0px;
	cursor:default;
}

#logout {
	width: 280px;
	right:-140px;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

#logout:hover {
	right:0px;
}

#logname {
	width:140px;
	text-align:center;
	line-height: 40px;
	float:left;
	overflow:hidden;
	cursor:default;
}

.logico {
	height:30px;
	width:30px;
	margin-top:5px;
	margin-right:25px;
	cursor:pointer;
	float:right;
}

/*Верхняя панель: пользователь*/

.tools {
	background: #99146F;
	position:absolute;
	display:inline-block;
	right:140px;
	float:right;
}

.separator {
	background:#C272A9;
	height:15px;
	width:1px;
	float:left;
	margin-top:13px;
	margin-left:15px;
}

/*Верхняя панель: кнопки*/

.logblock svg, .tools svg {
	fill: white;
	}

/*Верхняя панель: пользователь: аватар*/

#panelava {
	height: 40px;
	width:40px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	margin-left:-20px;
	float:left;
	cursor:pointer;
}

#panelava img {
	height:inherit;
	width:inherit;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}

/*Верхняя панель: пользователь: инструменты*/

.toolico {
	height:18px;
	width:18px;
	cursor:pointer;
	float:left;
	margin-top:11px;
	margin-left:15px;
}

/* Всплывающие подсказки */ 

#popup-message
{
	display: none;
	position: fixed;
	width: 60%;
	width: 700px;
	height: 40px;
	margin-left: -350px;
	left: 50%;
	top: 0px;
	opacity: 0;
	border-radius: 15px;
	
	text-align: center;
	padding: 10px 0px 0px 20px;
	font-size: 200%; /* Размер шрифта в процентах */ 
	color: white;
	
	z-index: 20;
}

#popup-message.error
{
	box-shadow: 0 0 25px rgb(255,0,0);
	background:url(../images/x-mark.svg) no-repeat red;
	background-size:contain;
}

#popup-message.ok
{
	box-shadow: 0 0 25px rgb(0,255,0);
	background:url(../images/check-mark.svg) no-repeat green;
	background-size:contain;
}

#popup-message.warning
{
	box-shadow: 0 0 25px #FF8C00;
	background:url(../images/warning.svg) no-repeat #FF8C00;
	background-size:contain;
}	
	
/* помощник */

#helpme-dialog
{
	display: none;
	position: fixed;
	right: 0px;
	background: #EDEDED;
	z-index: 9;
	padding: 15px;
	top: -200px;
}
