/* Область с контентом */

#propage {
	position: absolute;
	height: 65%;
	width: 900px;
	background: #FFFFFF;
	left: 50%;
	margin: 260px 0 0 -450px;
}

/* Голова профиля */

#prohead {
	position:absolute;
	height: 220px;
	width: 900px;
	background: #FFFFFF;
	left: 50%;
	margin: 20px 0 0 -450px;
}

/* Голова профиля: область информации */

.proinfo {
	position:absolute;
	height: 180px;
	width: 640px;
	margin-left: 200px;
	padding-left: 60px;
	color:#FFFFFF;
}

.proinfo .proname {
	position: absolute;
	font-size: 16pt;
	margin-top: 30px;
}

/* Голова профиля: арт-обложка */

.proart {
	position:absolute;
	height: 180px;
	width: 900px;
	background: url(../proart.jpg) no-repeat;
	background-size: cover;
	opacity: 0.5;
}

.proartback {
	position:absolute;
	height: 180px;
	width: 900px;
	background: black;
	opacity: 0.4;
}

/* Голова профиля: аватарка */

.proava {
	position: absolute;
	height: 220px;
	width: 220px;
	margin: -10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.proava img {
	height:inherit;
	width:inherit;
}

/* Голова профиля: навигация */

.pronavi {
	position:absolute;
	height: 40px;
	width: 640px;
	bottom: 0px;
	right: 0px;
}

.pronavi .button {
	height: 40px;
	text-align: center;
	width: 110px;
	line-height: 40px;
	display:inline-block;
	color: #A7A7A7;
}

.pronavi .button a {
	cursor: pointer;
}

.pronavi .button.current {
	color: #FF9E00;
	border-bottom: 2px solid #FF9E00;
}

.pronavi .button.current.myown {
	color: #99146F;
	border-bottom: 2px solid #99146F;
}

/* Голова профиля: подписка */

.profollow {
	width: 140px;
	height: 40px;
	float: right;
}

/* Голова профиля: кнопка подписки */

.subsarea {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin:  -5px 0 0 -25px;
}

#subsbutt {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #EDEDED;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 1px 0px #535353;
	-moz-box-shadow:    0px 0px 1px 0px #535353;
	box-shadow:         0px 0px 1px 0px #9F9F9F;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

#subsbutt svg {
	margin: 13px 0 0 16px;
}

#subsbutt #rss-icon {
	fill: #4EAF4E;
}

#subsbutt:hover {
	-webkit-box-shadow: 0px 0px 5px 0px green;
	-moz-box-shadow:    0px 0px 5px 0px green;
	box-shadow:         0px 0px 5px 0px green;	
}

/* Голова профиля: настройки подписки */

.subsblock {
	position: absolute;
	height: 40px;
	width: 110px;
	margin: 5px 25px;
	background: #4EAF4E;
	padding-left: 30px;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.substype {
	display: inline-block;
	width: 25px;
	margin: 10px 0 0 5px;
	cursor: pointer;
}