/*    */

#propage {
	position: absolute;
	height: 65%;
	width: 900px;
	background: #FFFFFF;
	left: 50%;
	margin: 260px 0 0 -450px;
}

/*   */

#prohead {
	position:absolute;
	height: 220px;
	width: 900px;
	background: #FFFFFF;
	left: 50%;
	margin: 20px 0 0 -450px;
}

/*  :   */

.proinfo {
	position:absolute;
	height: 180px;
	width: 640px;
	margin-left: 200px;
	padding-left: 60px;
	color:#FFFFFF;
}

.proinfo .proname {
	position: absolute;
	font-size: 16pt;
	margin-top: 30px;
}

/*  : - */

.proart {
	position:absolute;
	height: 180px;
	width: 900px;
	background-size: cover;
	opacity: 0.5;
}

.proartback {
	position:absolute;
	height: 180px;
	width: 900px;
	background: black;
	opacity: 0.4;
}

/*  :  */

.proava {
	position: absolute;
	height: 220px;
	width: 220px;
	margin: -10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.proava img {
	height:inherit;
	width:inherit;
}

/*  :  */

.pronavi {
	position:absolute;
	height: 40px;
	width: 640px;
	bottom: 0px;
	right: 0px;
}

.pronavi .button {
	height: 40px;
	text-align: center;
	width: 110px;
	line-height: 40px;
	display:inline-block;
	color: #A7A7A7;
}

.pronavi .button a {
	cursor: pointer;
}

.pronavi .button.current {
	color: #FF9E00;
	border-bottom: 2px solid #FF9E00;
}

.pronavi .button.current.myown {
	color: #99146F;
	border-bottom: 2px solid #99146F;
}

/*  :  */

.profollow {
	width: 130px;
	height: 30px;
	margin: 5px 15px 0 0;
	float: right;
}

/*  :   */

#follbutt {
	position: absolute;
	height:inherit;
	width: 30px;
	cursor: pointer;
	background: #FF9E00;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

#follbutt svg {
	margin: 5px 0 0 5px;
}

#follbutt #rss-icon {
	fill: #FFFFFF;
}

/*  :   */

.follblock {
	position: absolute;
	height: inherit;
	width: 95px;
	background: #FF9E00;
	margin-left: 31px;
	text-align: center;
	color: #FFFFFF;
	line-height: 30px;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.follblock.followed {
	background: #4EAF4E;
}

.folltype {
	display: inline-block;
	width: 25px;
	margin: 10px 0 0 5px;
	cursor: pointer;
}