/* блок с контентом */

#propage {
	position: absolute;
	height: 65%;
	width: 900px;
	background: #FFFFFF;
	left: 50%;
	margin: 260px 0 0 -450px;
}

/* шапка профиля */

#prohead {
	position:absolute;
	height: 220px;
	width: 900px;
	background: #FFFFFF;
	left: 50%;
	margin: 20px 0 0 -450px;
}

/* шапка профиля: область с инфой */

.proinfo {
	position:absolute;
	height: 180px;
	width: 640px;
	margin-left: 200px;
	padding-left: 60px;
	color:#FFFFFF;
}

.proinfo .proname {
	position: absolute;
	font-size: 16pt;
	margin-top: 30px;
}

/* шапка профиля: арт пользователя */

.proart {
	position:absolute;
	height: 180px;
	width: 900px;
	background-size: cover;
}

.proartback {
	position:absolute;
	height: 180px;
	width: 900px;
	background: black;
	opacity: 0.3;
}

/* шапка профиля: аватарка */

.proava {
	position: absolute;
	height: 220px;
	width: 220px;
	margin: -10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.proava img {
	height:inherit;
	width:inherit;
}

/* шапка профиля: навигация */

.pronavi {
	position:absolute;
	height: 40px;
	width: 640px;
	bottom: 0px;
	right: 0px;
}

.pronavi .button {
	height: 40px;
	text-align: center;
	width: 110px;
	line-height: 40px;
	display:inline-block;
	color: #A7A7A7;
}

.pronavi .button a {
	cursor: pointer;
}

.pronavi .button.current {
	color: #FF9E00;
	border-bottom: 2px solid #FF9E00;
}

.pronavi .button.current.myown {
	color: #99146F;
	border-bottom: 2px solid #C272A9;
}

/* шака профиля: область подписки */

.profollow {
	width: 130px;
	height: 30px;
	margin: 5px 15px 0 0;
	float: right;
}

/* шапка профиля: область подписки: область иконки */

#follico {
	position: absolute;
	height:inherit;
	width: 30px;
	background: #FF9E00;
}

#follico svg {
	margin: 5px 0 0 5px;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.profollow#followed #follico {
	background: #4EAF4E;
}

/* шапка профиля: область подписки: svg-иконки */

#follico path, polygon {
	fill: #FFFFFF;
}

#follico #check-mark {
	display: none;
}

/* шапка профиля: область подписки: svg-иконки когда подписан*/

.profollow#followed #follico #follow-icon, #x-mark {
	display: none;
}

.profollow#followed #follico #check-mark {
	display:block;
}

/* шапка профиля: область подписки: svg-иконка для отписки*/

.profollow#followed:hover #follico {
	background: #FF9E00;
	cursor: pointer;
}

.profollow#followed:hover #follico #check-mark {
	display:none;
}

.profollow#followed:hover #follico #x-mark {
	display:block;
}

/* шапка профиля: область подписки: кнопка */

#follbutt {
	position: absolute;
	height: inherit;
	width: 95px;
	cursor: pointer;
	background: #FF9E00;
	margin-left: 32px;
	text-align: center;
	color: #FFFFFF;
	line-height: 30px;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.profollow#followed #follbutt {
	background: #4EAF4E;
}

/* шапка профиля: счётчик подписок */

#myprocount {
	position:absolute;
	height: 40px;
	width: 185px;
	bottom: 0px;
	right: 0px;
	background: #FFFFFF;
	color: #99146F;
	line-height: 40px;
}

#myfollowers, #ifollow {
	height: 40px;
	text-align: center;
}

#myfollowers a, #ifollow a {
	cursor: pointer;
}

#myfollowers {
	width: 110px;
	font-size: 14px;
	float:left;
	padding: 0 10px 0 10px;
}

#ifollow {
	width: 50px;
	font-size: 14px;
	float:right;
	color: #FF9E00;
}

.proseparator {
	background:#C272A9;
	height:15px;
	width:1px;
	float:left;
	margin-top:13px;
}