/* Боковая панель */

.rightpanel {
	position: fixed;
	width:315px;
	height: 100%;
	right: 0px;
	padding: 40px 0px 0 0px;
	background: #FFFFFF;
	border-left: 1px solid #EDEDED;
	z-index:5;
}

/* Боковая панель: функциональный блок */

.rpblock {
	border-bottom: 1px solid #EDEDED;
	padding: 10px;
}

/* Боковая панель: функциональный блок: последние тексты */

.rpblock::before {
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	}

#recent-texts::before {
	content: "Recent activity";
	}
	
/* Боковая панель: функциональный блок: ссылки: тексты */

.text-button {
	display: inline-block;
	height: 50px;
	width: 145px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	}
	
.text-button input{
	font-size: 1em;
	border: none;
	width: 95px;
}

.text-button input:focus{
	outline: 1px solid red;
}

.text-button:hover {
	color: #66A3D2;
}	

.text-button.project:hover {
	color: #FFAD40;
}

.text-button svg {
	float: left;
	height: 50px;
	width: 50px;
	fill: #66A3D2;
	}
	
	.project svg {
		fill: #FFAD40;
		}
	
.text-button .info {
	display: inline-block;
	padding-top: 10px;
	font-size: 0.8em;
	}
	
.text-button .info .time-ago{
	font-size: 0.85em;
	}
	
/* Боковая панель: функциональный блок: шапка блока */

.block-head {
	margin-bottom: 15px;
	}
	
/* Боковая панель: функциональный блок: шапка текста */

#text-block .help-card {
	background: #66A3D2;
}

/* Боковая панель: функциональный блок: шапка текста */

#project-block .help-card {
	background: #FFAD40;
}
	
/* Боковая панель: функциональный блок: публикация-удаление текста-проекта */

#publish-butt, #delete-butt {
	color: #66A3D2;
	}
	
#publish-butt svg, #delete-butt svg{
	fill: #66A3D2;
	}

	

.text-button.create#publish-butt:hover{
	color: #269926;
	}

.text-button.create#publish-butt:hover svg{
	fill: #269926;
	}
	

	
.text-button.create#delete-butt:hover {
	color: #FF4040;
	}
	
.text-button.create#delete-butt:hover svg{
	fill: #FF4040;
	}

	
#project-block .text-button.create svg {
	fill: #434343;
	}
	
#project-block .text-button.create {
	color: #434343;
	}

	

#project-block .text-button.create div{
	display:none;
	}
	
/* Боковая панель: функциональный блок: тексты: кнопки создания файлов/проектов */

.text-button.create {
	margin: 3px 0 0 0;
	padding: 5px;
	height: auto;
	width: auto;
	font-size: 0.9em;
	cursor: pointer;
	color: #99146F;
}

.text-button.create svg {
	margin-right: 5px;
	height: 20px;
	width: 20px;
	fill: #99146F;
	}
	
.text-button.create div {
	margin: 0 15px;
	}
	
.text-button.create#new-text-butt:hover {
	color: #66A3D2;
	}
	
.text-button.create#new-project-butt:hover {
	color: #FFAD40;
	}
	
.text-button.create#new-text-butt:hover svg{
	fill: #66A3D2;
	}
	
.text-button.create#new-project-butt:hover svg{
	fill: #FFAD40;
	}
	
/* Боковая панель: функциональный блок: карточки-помошника */

.help-card {
	padding: 15px;
	background: #99146F;
	color: white;
	}

/* Боковая панель: функциональный блок: бранч-путь */

.branch-path {
	white-space: nowrap;
	overflow-y: hidden;
	}

.branch-path .project, .branch-path .text {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 2px 5px;
	margin-bottom: 6px;
	font-size: 0.8em;
	text-align: center;
	border: 1px solid #D3D3D3;
	background: white;
	cursor: pointer;
	}

.branch-path .project.current {
	border-color: #FFAD40;
	background: #FFAD40;
	color: white;
	}

.branch-path .text.current {
	border-color: #66A3D2;
	background: #66A3D2;
	color: white;
	}	

/* Боковая панель справа: ярлыки диалогов */

.dialogref {
	position:relative;
	width: 290px;
	height: 60px;
	margin: 10px;
	cursor: pointer;
	border: 1px solid #EDEDED;
	border-radius: 12%/50% 0 0 50%;
}

.dialogref.newmess {
	background: #F5F5F5;
}


.messcount {
	position:absolute;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	background: #6CDA6C;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 9pt;
	text-align:center;
	line-height: 22px;
	margin-top: 18px;
	margin-left: -7px;
}

.dialogava {
	position:absolute;
	height: 50px;
	width: 50px;
	margin: 5px;
}

.dialogava img {
	height:inherit;
	width:inherit;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}

.dialoginfo {
	position:absolute;
	width:190px;
	height:inherit;
	left:70px;
}

.dialoginfo .compname {
	width: 150px;
	height: 30px;
	line-height: 30px;
}

#recentmess .dialoginfo .compname {
	color:inherit;
}

.dialoginfo .dialogdate {
	font-size:10px;
}

/* Боковая панель справа: недавние */

.rprecent .message {
	width: inherit;
	height: 30px;
	text-align:center;
	line-height: 40px;
	font-size:11px;
	color: #787878;
}